/* .p{
    background: url('https://png.pngitem.com/pimgs/s/149-1492667_transparent-texture-background-png-white-texture-background-hd.png') no-repeat center center fixed;
   height: 800px;
  background-size: cover;
} */


.p-top{
    position: absolute;
    padding: 10px;
    text-align: center;

}
.home{
    position: absolute;
    display: flex;
    margin-top: 30px;
    text-align: center;
    margin-left: 200px;

}
.help{
    position: absolute;
    display: flex;
    margin-top: 30px;
    text-align: center;
    margin-left: 300px;

}
.player-name{
    position: absolute;
    display: flex;
    margin-top: 30px;
    text-align: center;
    margin-left: 700px;
    font-weight: 300;
    font-size: 40px;

}
.player-img{
    position: absolute;
    display: flex;
    margin-top: 20px;
    text-align: center;
    margin-left: 920px;
    width: 60px;
    height: 60px;
}
.line {
    border-left: 1px solid black;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 110px;
  }
  .perf{
      width: 600px;
      height: 500px;
      margin-top: 100px;
      margin-left: 50px;
      padding: 20px;
  }
  .overall{
      position: absolute;
      display: flex;
      margin-left: 900px;
      margin-top: -530px;
      background-color: green;
      border-radius: 20px;
      padding: 20px;
      color: white;
  }
  .jersey{
    position: absolute;
    display: flex;
    margin-left: 1100px;
    margin-top: -530px;
    background-color: green;
    border-radius: 20px;
    padding: 20px;
    color: white;
}


.list{
    list-style-type: none;
    position: absolute;
    float: right;
    margin-left: 850px;
    margin-top: -450px;
    line-height: 30px;

    
}
