

.title{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-top: 70px;

}
.i-search{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 270px;
    margin-top: 120px;

}
