*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.middle{
  height: 300px;
  width: 890px;
  /* background-color: powderblue; */
  margin-left: 300px;
  margin-top: -1000px;
}
.box-container{
  /* position: absolute; */
  height: 300px;
  width: 890px;

  justify-content: center;
 margin: auto;
  
}
.title{
    position: absolute;
    display: flex;
    text-align: center;
    font-size: 70px;
    
    
}
.input{
    position: absolute;
    display: flex;
    width: 400px;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 50px;
}
.img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 100px;
    
}

  
  .box {
    width: 300px;
    margin: 10px;
    padding: 10px;
    line-height: 25px;
    float: left;
    border-radius: 4px;
    border: 1px solid ;
    background: linear-gradient(#e66465, #9198e5);
    margin-top: 100px;
    border-radius: 20px;
  }
  
  .clearboth {
    clear: both;
  }
  .right-img{
    position: fixed;
    margin-left: 100px;
    margin-top: -550px;
    right: 0;
    position: fixed;
  }

  .input{
    position: absolute;
    display: flex;
    padding: 20px;
    margin-top: 200px;

  }
  .box{
    margin-left: 100px;
    
  }